/* Write your CSS here */

.container {
  background-color: #f1f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count {
  color: #2d3a35;
  font-family: 'Roboto';
  font-size: 30px;
}
.value {
  color: #c20a72;
}
.button {
  font-family: 'Roboto';
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  border-width: 0px;
  background-color: #007bff;
  height: 30px;
  width: 80px;
}
